body{
	background-color:#d0d0d0;
	font-family:arial;
	margin:0 auto;
}
nav{
	position:absolute;
	background-color:483D8B;
	width:100%;
}
nav ul{
	width:80%;
	margin: 0 auto;
}
nav ul li{
	display:inline-black;
	padding:1%;
}
nav ul li a{
	color:white;
	font-size:lem;
	text-decoration:none;
	padding:5px;
}
nav ul li a:hover{
	text-decoration:underline;
}
#main content{
	width:70%;
	margin:0 auto;
	border:1px solid #808080;
}